/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

:root{
  --purple: #B68DBE;
  --white: #FFFFFF;
  --hex:#E4C52B;
  --hex:#162C09;
  --hex:#092C16 ;
  --hex:#22981A ;


}
